{% extends 'base.html' %}

{% block content %}
<div class="home-div">
    <div class="intro">
        <a style="color:black; text-decoration: underline;" href="https://pitchfork.com/">Pitchfork</a> 
        is a notorious music review website known for their album ratings.
        I thought it would be fun to whip up a little project to see how my 
        top songs would fair against their ratings. Try it out yourself!
    </div>
    <br>
    <a class="authorize" href="/authorize">Authorize your Spotify...</a>
    <br>
    <br>
    <div class="intro">
        Made by 
        <a style="color:black; text-decoration: underline;" href="http://www.trudy.computer">trudy.computer</a>
    </div>
</div>
{% endblock %}